subscription_id="70281eca-fd8d-491c-bae0-45ae189968e0"
webappHostname="alttf.azurewebsites.net"
location="eastus"
loadTestResource="alttf-r"
alttf_rg="alttfeastus-rg"
testId="sample-app-test"
loadTestServicePrincipal="alttf-loadtest-sp"
#KUBE_GROUP=kube_fio_persistent
#KUBE_NAME=fiopersistent
#STORAGE_ACCOUNT=$KUBE_NAME
#STORAGE_CLASS_NFS=premiumnfslrs
# NODE_GROUP=$KUBE_GROUP"_"$KUBE_NAME"_nodes_"$LOCATION
# KUBE_VNET_NAME=$KUBE_NAME"-vnet"
# KUBE_GW_SUBNET_NAME="gw-1-subnet"
# KUBE_ACI_SUBNET_NAME="aci-2-subnet"
# KUBE_FW_SUBNET_NAME="AzureFirewallSubnet"
# KUBE_ING_SUBNET_NAME="ing-4-subnet"
# KUBE_AGENT_SUBNET_NAME="aks-5-subnet"
# KUBE_AGENT2_SUBNET_NAME="aks-6-subnet"
# KUBE_VERSION="$(az aks get-versions -l $LOCATION --query 'orchestrators[?default == `true`].orchestratorVersion' -o tsv)"